{% extends "layout.html" %}

{% block content %}

    <section id="contribute">
        <div class="container">
        <h2>Contribute to the timeline!</h2>
        <div class="row form-holder">
            <div class="col-sm-12">
            {% if success %}
            <div class="flash"><p>Thank you for your message. We'll get back to you shortly.</p></div>
            <a href="{{url_for("contribute")}}" id="contributebutton">Submit Another Response</a>

            {% else %}

            {% for message in form.name.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.email.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.eventname.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% for message in form.date.errors %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            <form action="{{ url_for('contribute') }}" method=post enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {{ form.name.label }}
                {{ form.name }}

                {{ form.email.label }}
                {{ form.email }}

                {{ form.eventname.label }}
                {{ form.eventname }}

                {{ form.date.label }}
                {{ form.date }}

                {{ form.description.label }}
                {{ form.description }}

                {{ form.link.label }}
                {{ form.link }}

                {{ form.image.label }}
                {{ form.image }}

                {{ form.media.label }}
                {{ form.media }}

                {{ form.submit }}
            </form>

            {% endif %}
            </div>
        </div>
        </div>
    </section>

{% endblock %}
